<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/layout :: header"/>

        <section th:replace="layout/addBtn :: addBtn"></section>

        <section th:replace="layout/addClient :: addClient"></section>

        <section th:replace="layout/listClients :: listClients"></section>

        <footer th:replace="layout/layout :: footer"/>

    </body>
</html>